/* /////////// -------   List component   ------- /////////// */

.Lists-primary {
  background-color: var(--lightlue-bg-color);
  min-width: 100vw;
  height: 100vh;
}

.Lists-cardFlex {
  width: auto;
  overflow-x: auto;
  height: 85vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: baseline;
  align-content: stretch;
}

/* /////////// -------   ListMenu component   ------- /////////// */

.ListMenu-primary {
  height: 5vh;
  background-color: var(--lightlue-bg-color);
  color: rgb(255, 255, 255);
}

/* /////////// -------   CardList component   ------- /////////// */

.CardList-primary {
  min-width: 270px;
  max-width: 270px;
  max-height: 83vh;
  overflow-y: auto;
  margin: 0 5px;
  background-color: var(--greycard-bg-color);
  border-radius: 5px;
}
.CardList-secondary {
  border-radius: 5px;
}

.CardList-name {
  margin-left: 1vw;
  font-weight: bold;
}

.CardList-cardFlex {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

/* /////////// -------   Card component css   ------- /////////// */

.Card-styling {
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  background-color: white;
  cursor: move;
  color: black;
  box-shadow: 0px 1px 0px #979797;
}

/* /////////// -------   AddCard/AddList component css   ------- /////////// */

.AddList-button {
  text-align: left;
  background-color: var(--blue-bg-color);
  border-radius: 5px;
  color: white;
  border: 0px;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding-left: 2vw;
}

.AddCard-buttonP {
  transform: rotate(45deg);
  margin: 0px;
  padding: 0px;
}
