.Lists-primary {
  background-color: var(--lightlue-bg-color);
  width: 100vw;
  height: 100vh;
}

.CardList-cardFlex {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.Lists-cardFlex {
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: baseline;
  align-content: stretch;
}

.ListMenu-primary {
  height: 5vh;
  background-color: var(--lightlue-bg-color);
  color: rgb(255, 255, 255);
}

.CardList-primary {
  width: 270px;
  height: auto;
  margin: 0 5px;
  background-color: var(--greycard-bg-color);
  border-radius: 5px;
}
.CardList-secondary {
  border-radius: 5px;
}
.Card-styling {
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  background-color: white;
  cursor: move;
  color: black;
  box-shadow: 0px 1px 0px #979797;
}

.CardList-name {
  margin-left: 1vw;
  font-weight: bold;
}
