.About-primary {
  width: 100vw;
  height: 100vh;
}
.Info-primary {
  width: 50vw;
  position: absolute;
  left: 25vw;
  text-align: center;
}
.Info-title {
    font-size: 2rem;
}
.Info-body {
    font-size: 1rem;
}