.Login-main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  background-color: lightblue;
}
.Login-main p {
  color: #747474;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 20vh;
}
.Login-main button {
  width: 20vw;
  height: 10vh;
  font-size: 1.5vw;
}
.Login-main button img {
  margin-right: 2vw;
}
.Login-rTello {
  width: 20vw;
}
